.chip-button-item {
	display: inline-block;
	color: @ControlText;
	background-color: @Control;
	border: 1px solid @ControlBorder;
}

	.chip-button-item:hover {
		background-color: @Highlight/0.5;
	}

	.chip-button-item:focus {
		border: 1px solid @Blue;
	}

	.chip-button-item:active {
		background-color: @Highlight/0.75;
	}

	.chip-button-item:--checked {
		background-color: @Highlight;
	}


.content {
	display: flex;
	align-items: center;
	min-height: 16px;
}

.check {
	display: none;
	height: 16px;
	width: 16px;
	min-width: 16px;
	min-height: 16px;
	margin-right: 2px;
}

.chip-button-item:--checked .check {
	display: inline-block;
}

.caption {
	display: inline-block;
}

.icon {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	margin: 0 0 0 4px;
}

.small {
	font-size: 0.8em;
	padding: 2px 8px;
	border-radius: 16px;
}

.default {
	padding: 4px 12px;
	border-radius: 24px;
}

.large {
	font-size: 1.2em;
	padding: 6px 16px;
	border-radius: 32px;
}